body {
    font-family: Arial;
    background: #0f172a;
    color: #fff;
    padding: 20px;
}

h2 {
    color: #38bdf8;
}

form {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, button {
    display: block;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

.atrasado {
    background: #ef4444;
}