body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #fff;
    padding: 20px;
}

h2 {
    color: #38bdf8;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

button {
    margin-top: 10px;
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

.msg {
    background: #22c55e;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #1e293b;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #334155;
    text-align: center;
}

th {
    background: #0ea5e9;
}

.atrasado {
    background: #ef4444;
    color: #fff;
}